#
# NIBObee.config
#
# direct upload configuration for linux using /dev/ttyS0
#

name NIBObee
maxsize 16384  # Nibo is based on an ATmega16 using 16k of flash memory

# info on target
target UART
filename /dev/ttyS0
speed 2400

# load lists of native methods
native System
native PrintStream
native StringBuffer
native StringBuilder
native Math
native Formatter
native nibobee/Bot
native nibobee/Clock
native nibobee/Leds
native nibobee/LineDetector
native nibobee/Motor
native nibobee/Sensor
native nibobee/WheelEncoder
