#
# Nibo2.config
#
# direct upload configuration for linux using /dev/ttyS0
#

name Nibo2
maxsize 131072  # Nibo is based on an ATmega128 using 128k of flash memory

# info on target
target UART
filename /dev/ttyS0
speed 2400

# load lists of native methods
native System
native PrintStream
native StringBuffer
native StringBuilder
native Math
native Formatter
native nibo2/Bot
native nibo2/Clock
native nibo2/TextDisplay
native nibo2/GraphicDisplay
native nibo2/DistanceSensor
native nibo2/EdgeDetector
native nibo2/IrTransceiver
native nibo2/Leds
native nibo2/LineDetector
native nibo2/Motor
native nibo2/WheelEncoder
